.nav {
	display: flex;
	justify-content: space-between;
	padding: 0rem var(--page-padding-horizontal);
	color: var(--font-color);
	border-bottom: var(--border-style-light);
	caret-color: transparent;
}

.nav__logo {
	align-self: center;
	font-size: var(--large-font-size);
}

.nav__list {
	display: flex;
	justify-content: flex-end;
}

.nav__list__item {
	cursor: pointer;
	padding: 15px 20px 20px;
	color: var(--font-light-color) !important;
	text-decoration: none;
	
	&:visited {
		color: inherit;
	}
	
	&:hover {
		color: var(--font-color) !important;
	}
}
